# Auto detect text files and perform LF normalization
* text=auto

*.shader linguist-vendored=true
*.shadergraph linguist-vendored=true
*.cginc linguist-vendored=true
*.hlsl linguist-vendored=true
*.compute linguist-vendored=true
